In [2]:

##An international firm that is looking to expand its business in different 
##countries across the world has recruited you. I have been hired as a junior
##Data Engineer and are tasked with creating a script that can extract the list
#of the top 10 largest economies of the world in descending order of their GDPs 
#in Billion USD (rounded to 2 decimal places), as logged by the International 
#Monetary Fund (IMF).

In [2]:
import numpy as np
import pandas as pd
import requests

URL="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

In [9]:
tables = pd.read_html(URL)
df = tables[3]
df.columns = range(df.shape[1])
df = df[[0,2]]
df = df.iloc[1:11, :]
df.columns = ['Country', 'GDP(Million USD)']

In [11]:
df['GDP(Million USD)'] = df['GDP(Million USD)'].astype(int)

In [13]:
df[['GDP(Million USD)']] =df[['GDP(Million USD)']]/1000

In [15]:
df[['GDP(Million USD)']] =np.round(df[['GDP(Million USD)']], 2)

In [24]:
df = df.rename(columns = {'GDP(Million USD)': 'GDP(Billion USD)'})

In [27]:
df.to_csv('./Largest_economies.csv')

In [26]:
df

           Country  GDP(Billion USD)
1    United States          26854.60
2            China          19373.59
3            Japan           4409.74
4          Germany           4308.85
5            India           3736.88
6   United Kingdom           3158.94
7           France           2923.49
8            Italy           2169.74
9           Canada           2089.67
10          Brazil           2081.24